# Files which don't need to be shared between developers
.idea/dataSources*
.idea/dictionaries
.idea/libraries
.idea/vcs.xml
.idea/workspace.xml
.idea/dbnavigator.xml
.idea/codeStyles/Project.xml
.idea/templateLanguages.xml

# PostgreSQL cluster data directory
db/cluster

# Compiled artifacts
Instruction_Samples_*.txt
trace*.txt
scratches/
out/
scratches/
target
tmp
mindcode/src/test/resources/scripts/*.mlog
mindcode/src/test/resources/euler/*.mlog

# System library log files
mindcode/src/main/resources/library/*.log
mindcode/src/main/resources/library/*.mlog


# Other
*.orig
.flattened-pom.xml
