# Files which don't need to be shared between developers
.idea/dataSources*
.idea/dictionaries
.idea/libraries
.idea/vcs.xml
.idea/workspace.xml

# PostgreSQL cluster data directory
db/cluster

# Compiled artifacts
Instruction_Samples_*.txt
target
tmp
