<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug"/>
    <logger name="org.springframework.web" level="debug"/>

    <root level="info">
        <appender-ref ref="STDERR" />
    </root>
</configuration>
